body {
  background: rgb(247, 250, 250);
  font-family: monospace;
}
a {
  color: #642bf4;
}
.my-weather-app {
}
.temp-icon {
  font-size: 40px;
  color: rgb(109, 193, 241);
}
.my-weather-app {
  background: rgb(250, 245, 245);
  max-width: 800px;
  padding: 30px;
  margin: 40px auto;
  border-radius: 12px;
  box-shadow: 12px 12px 2px rgb(54, 38, 70);
}
.search-form {
  background-color: #f9f7fe;
  border: transparent;
  color: rgba(38, 28, 81, 0.4);
  font-size: 14px;
  padding: 10px;
  width: auto;
  border-radius: 5px;
}
.search-btn {
  margin-left: 3px;
  font-size: 14px;
  background-color: #4b2e94;
  color: white;
  border: none;
  padding: 13px;
  border-radius: 6px;
}
.current-weather {
  padding: 50px 10px;
  display: flex;
  justify-content: space-between;
}
.current-temp {
  font-size: 46px;
}
h1 {
  font-size: 40px;
  font-weight: 800;
  line-height: 1em;
  color: #391024;
}
.current-forecast strong {
  color: rgb(216, 66, 66);
}
.temp-icon {
  position: relative;
  top: -6px;
  font-size: 40px;
  margin-right: -20px;
}
.current-temp-value {
  font-size: 70px;
  font-weight: bold;
}
.current-temp-unit {
  font-size: 30px;
  position: relative;
  top: -26px;
}
footer {
  text-align: center;
  color: rgba(39, 33, 66, 0.4);
}